<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
	<!-- Suite -->
	<test name="Testapp">
		<parameter name="platformName" value="Android" />
		<parameter name="platformVersion" value="10 QKQ1.191015.002" />
		<parameter name="deviceName" value="Redmi" />
		<classes>
			<class name="com.eco.qa.testcases.LoginTest" />
			<class
				name="com.eco.qa.testcases.GermShieldTreatmeElevatorTests" />
		</classes>
	</test>

	<!--<test name="Testweb"> <classes> <class name="com.eco.qa.testcases.EcoAdminPanelLoginTest" 
		/> <class name="com.eco.qa.testcases.EcoAdminPanelOrderCreationTest" /> </classes> 
		</test> -->
	<!--<test name="Testapp"> <parameter name="platformName" value="Android" 
		/> <parameter name="platformVersion" value="10 QKQ1.191014.001" /> <parameter 
		name="deviceName" value="Redmi" /> <classes> <class name="com.eco.qa.testcases.GermShieldTreatmeElevatorTests" 
		/> </classes> </test> -->

</suite> <!-- Suite -->
